body{
    background-color: white;
}

.center{
	text-align: center;
}

.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

h1{
	font-size: 500%;
    text-align: center;
}

h3{
	margin: 0 30%;
}

p{
	margin: 0 20%;
}

.image_size{
background-size: cover;
}

#box {
    opacity: 0.7;
    height:100vh;
    width:100%;
    background-image:url("../images/web.jpg");
    background-size:cover;
    display:table;
    background-position: center center;
}

#box #background{
    margin: 18% auto;
    color: rgb(84, 87, 192);
    font-family: 'Roboto Slab', serif;
    font-weight: bold;

}

#section2{
    background-color: rgba(84, 87, 192, 0.84);
    padding-top: 175px;
    padding-bottom: 300px
}

.bio{
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
}

#moveMe{
    margin-left: 50%;
}

#section2 p{
    text-align: center;
    text-indent: 50px;
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Roboto Slab', serif;
}

#section3{
    padding-top: 150px;
    padding-bottom: 0px;
    color: white;
    background-color: rgba(89, 171, 167, 0.84);
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

section{
    padding-top: 100px;
    padding-bottom: 50px;
}

#section4 h3{
    padding-top: 30px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}

#section4{
    margin-top: 200px;
    margin-bottom: 250px;
    text-align: center;
}

#section4 a{
    margin-top: 50px;
    padding: 50px;
    width: 550px;
    background-color: rgba(76, 152, 214, 1); 
}

#messagefield{
    padding: 150px;
}

#row1{
    margin-top: 10%;
}

.col-md-4 img {
    max-height: 100%;
    max-width: 100%;
}

.col-lg-12 img {
    padding-top: 10%;
    max-height: 80%;
    max-width: 80%;
}

.col-md-6 img{
    padding-top: 10%;
    max-height:80%;
    max-width: 80%;
}

.container h1{
    margin-top: 40px;
}

.section5{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 100px;
    background-color: rgba(40, 90, 164, 1);
    padding-top: 350px;
    padding-bottom: 450px;
}

.section5 a{
    color: black;
}






